{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block fos_user_content %}

    <div class="container">

        <h1 class="text-center">Inscription avant devis</h1>
        <div class="row">
            <button class="col-md-4 btn-gradient">

                <a href="{{ path('customer') }}">
                    <p class="norm_white text-center">
                        Connexion
                    </p>
                </a>

            </button>
            <div class="col-md-4">

            </div>
            <button class="col-md-4 btn-gradient">

                <a href="{{ path('quotation') }}">
                    <p class="norm_white text-center">
                        Un devis?
                    </p>
                </a>

            </button>
        </div>

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

            <h4 class="pt-4 mt-4">
                {{ form_label(form.email, "Adresse email") }}

                {{ form_errors(form.email) }}

                {{ form_widget(form.email, {"attr" : {
                    "placeholder" : "Votre adresse mail"
                }}) }}
            </h4>

            <h4>
                {{ form_label(form.firstName, "Prénom") }}

                {{ form_errors(form.firstName) }}

                {{ form_widget(form.firstName, {"attr" : {
                    "placeholder" : "Votre prénom"
                }}) }}
            </h4>

            <h4>
                {{ form_label(form.username, "Nom") }}

                {{ form_errors(form.username) }}

                {{ form_widget(form.username, {"attr" : {
                    "placeholder" : "Votre nom"
                }}) }}
            </h4>

            <h4 class="py-4 my-4">
                {{ form_row(form.plainPassword, {
                    "options" : {
                        "attr" : {
                            "placeholder" : "Mot de passe"
                        }
                }}) }}
            </h4>


            <button type="submit" class="btn-gradient mb-4" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}">
                <p class="text_btn">
                    Inscription
                </p>
            </button>

        {{ form_end(form) }}
    </div>

{% endblock fos_user_content %}