{% extends 'base.html.twig' %}

 {% form_theme quotationForm 'bootstrap_4_layout.html.twig' %}

{% block title %} BrushAndCode {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">
                <span class="title_page">
                    Nos services
                </span>
        </h1>
    </div>

    <div class="container">
        <hr class="text-center my-4" size="3" color="white">
        <p class="text-center">
            <em>
                Nos prestations sur mesure comprennent la gestion de projet multimédia.
                Si une de ces prestations vous intéressent cochez le domaine correspondant
                et un chef de projet prendra contact avec vous pour coller au plus près de vos besoins en digital.
                Et donc vous proposer le prix le plus juste.*
            </em>
        </p>
        <hr class="text-center my-4" size="3" color="white">
    </div>

    <div class="container">
        {{ form_start(quotationForm) }}


        {% for package in quotationForm.packageType %}

            <div class="row">

                <h3 class="text-uppercase text-center">
                    {#{{ form_label(package, {"label_attr" : {"class" : "text-center"}}) }}#}

                        {{ form_errors(package) }}

                        {{ form_widget(package) }}
                </h3>

            </div>

                {% include('customer/packages/'~package.vars.label|lower~'.html.twig') %}

        {% endfor %}



        <h4 class="my-4 py-4">
            {{ form_label(quotationForm.email, "Email") }}

            {{ form_errors(quotationForm.email) }}

            {{ form_widget(quotationForm.email, {"attr" : {"placeholder" : "Renseignez votre Email"}}) }}
        </h4>

        <h4 class="py-4 my-4">
            {{ form_label(quotationForm.comment, "Décrivez votre projet") }}

            {{ form_errors(quotationForm.comment) }}

            {{ form_widget(quotationForm.comment, {"attr" : {
                "placeholder" : "N'hésitez pas à être précis",
                "rows" : "10"
            }}) }}
        </h4>



        <button type="submit" class="btn-gradient mb-4 ">
            <p class="text_btn">
                Enregistrer
            </p>
        </button>

        {{ form_end(quotationForm) }}
    </div>


{% endblock %}