<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('assets/css/global.scss') }}" />
            <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400i,500,700,900" rel="stylesheet">

            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
            <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}" />
        {% endblock %}
    </head>
    <body>

        <section id="head" class="container-fluid">
            <nav class="navbar navbar-expand-lg justify-content-end ">
                <div class="col-lg-3">
                    <a class="navbar-brand" href="#">
                        <img src="{{ asset('assets/image/Black_logo.png') }}" class="logo img-fluid"/>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>






                <div class="col-lg-9">
                    <div id="menu_burger">
                        <a href="#popup1">
                            <img
                                    src="{{ asset('assets/image/menu_burger.png') }}"
                                    class="menu"
                                    {#width="52px"#}
                                    {#height="72px"#}
                            >
                        </a>
                        <div id="popup1" class="overlay">
                            <div class="popup">
                                <a class="close" href="#">
                                    <img alt="menu_burger"
                                         class="menu"
                                         src="{{ asset('assets/image/menu_burger.png') }}"
                                            {#width="52px"#}
                                            {#height="72px"#}
                                    >
                                </a>
                                <div class="content_menu">

                                    <nav id="site-navigation_2">
                                        <div class="collapse navbar-collapse">
                                            <div class="container">
                                                <ul class="nav-pills nav-stacked mr-auto menu-text text-center">
                                                    <li class="nav-item">
                                                        <a class="nav-link"
                                                           href="https://www.projets-opc-nana.com/"
                                                        >
                                                            L'Agence
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link"
                                                           href="https://www.projets-opc-nana.com/catalogue-de-services/">
                                                            Nos services
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link"
                                                           href="https://www.projets-opc-nana.com/nos-references/">
                                                            Nos références
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link"
                                                           href="https://www.projets-opc-nana.com/qui-sommes-nous/">
                                                            Qui sommes nous?
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link"
                                                           href="https://www.projets-opc-nana.com/le-blog/">
                                                            Le blog
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link"
                                                           href="https://www.projets-opc-nana.com/contact/">
                                                            Contact
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                        <a href="{{ path('fos_user_security_logout') }}">
                                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                        </a>
                                                        {% else %}
                                                        <a href="{{ path('fos_user_security_login') }}">Espace client</a>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                    </nav><!-- #site-navigation -->
                                </div><!-- contenu -->
                            </div>
                        </div>
                    </div>
                </div>
            </nav>






        </section>
        <section id="content" class="container-fluid">
            {% block body %}{% endblock %}
        </section>
        <section id="footer" class="container-fluid">
            <div class="container">
                <nav class="text-center nav_footer ">
                    <ul class="navbar-nav my-3">
                        <div class="row">
                            <li class="col-md-3">
                                <a href="">Mentions Légales</a>
                            </li>
                            <li class="col-md-3">
                                <a href="">Conditions générales d'utilisations</a>
                            </li>
                            <li class="col-md-3">
                                <a href="">Politiques de confidentialités</a>
                            </li>
                            <li class="col-md-3">
                                <a href="">Copyright ©BrushAndCode-2019- Tous droits réservés -</a>
                            </li>
                        </div>

                    </ul>
                </nav>
            </div>
        </section>



        {% block javascripts %}

            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->

        {% endblock %}
    </body>
</html>
